.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Centers vertically within the viewport */
}

/* Style the form */
form {
    border: 2px solid black;
    padding:25px;
    height:auto;
    width: auto/* Adjust the width as needed */
}
.inputfield{
    
    margin-bottom: 80px;
}

.text{
    color:red;
    text-align: center;
    font-size:15px ;
    margin-top: -50px;
   
    
}
.textsize{
    font-size: 25px;
    
}
.heading{
    font-size: 50px;
    color:black;
    text-align:center;
    
}
.logo{
    text-align:center;
    justify-content: center;
    display: flex;
    margin:0 auto ;
    height:250px;
    width:250px;
}

.button{
     
    background-color:blueviolet;
    border-radius:12px;
    color:white;
    align-items: center;
    font-size: 18px;
    position: absolute;
   left: 50%;
   transform: translateX(-50%);
    
  
}

.login{
    text-align:center;
    display: flex;
    color:indigo;
    font-size: 15px;
  justify-content: center;
}

.sortable-header {
    position: relative;
    cursor: pointer;
  }
  
  .sort-arrows {
    display: inline-block;
    position: relative;
  }
  .asc-arrow,
  .desc-arrow {
    font-size: 12px;
    
    color: #e21919; /* Default color for non-highlighted arrows */
  }
  
  .asc-arrow.active {
    color:black; /* Highlighted color for ascending */
    position: absolute;
    top: -5px; /* Adjust this value to control the vertical position of the ascending arrow */
  
  }
  
  .desc-arrow.active {
    color:black; /* Highlighted color for descending */
    position: absolute;
   
  }
  
  .search-bar {
    padding: 18px;
    margin-left: 1314px;
}